Node-RED/node-red-dashboard-flow.json
[
  {
    "id": "flow_esp32",
    "type": "tab",
    "label": "IoT Humidity Monitor - MQTT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow_esp32",
    "name": "ESP32 MQTT IN",
    "topic": "esp32/humidity_monitor",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 200,
    "wires": [["func_process"]]
  },
  {
    "id": "func_process",
    "type": "function",
    "z": "flow_esp32",
    "name": "Xử lý dữ liệu",
    "func": "var temp = Number(msg.payload.temperature);\nvar humi = Number(msg.payload.humidity);\nvar alert = Number(msg.payload.alert);\nvar timestamp = new Date().toLocaleString('vi-VN');\n\nvar tempStatus = \"\";\nvar tempColor = \"\";\nif (temp < 20) {\n    tempStatus = \"Lạnh\";\n    tempColor = \"#2196F3\";\n} else if (temp >= 20 && temp < 30) {\n    tempStatus = \"Bình thường\";\n    tempColor = \"#4CAF50\";\n} else {\n    tempStatus = \"Nóng\";\n    tempColor = \"#FF9800\";\n}\n\nvar humiStatus = \"\";\nvar humiColor = \"\";\nif (humi < 60) {\n    humiStatus = \"Khô\";\n    humiColor = \"#FF9800\";\n} else if (humi >= 60 && humi < 70) {\n    humiStatus = \"Tốt\";\n    humiColor = \"#4CAF50\";\n} else {\n    humiStatus = \"Ẩm cao\";\n    humiColor = \"#F44336\";\n}\n\nvar statusText = \"\";\nvar statusColor = \"\";\nvar statusBg = \"\";\nvar alertText = \"\";\nvar relayStatus = \"\";\nvar relayColor = \"\";\n\nif (alert == 1) {\n    statusText = \"⚠️ CẢNH BÁO ẨM MỐC\";\n    statusColor = \"#F44336\";\n    statusBg = \"linear-gradient(135deg, #FFE0E0 0%, #FFCCCC 100%)\";\n    alertText = \"CẢNH BÁO\";\n    relayStatus = \"ON\";\n    relayColor = \"#F44336\";\n} else {\n    statusText = \"✅ Hoạt động bình thường\";\n    statusColor = \"#4CAF50\";\n    statusBg = \"linear-gradient(135deg, #E8F5E9 0%, #C8E6C9 100%)\";\n    alertText = \"AN TOÀN\";\n    relayStatus = \"OFF\";\n    relayColor = \"#9E9E9E\";\n}\n\nvar msg1 = {payload: temp};\nvar msg2 = {payload: humi};\nvar msg3 = {payload: temp, topic: \"Nhiệt độ\"};\nvar msg4 = {payload: humi, topic: \"Độ ẩm\"};\nvar msg5 = {payload: {temp: temp, tempStatus: tempStatus, tempColor: tempColor}};\nvar msg6 = {payload: {humi: humi, humiStatus: humiStatus, humiColor: humiColor}};\nvar msg7 = {payload: {statusText: statusText, statusColor: statusColor, statusBg: statusBg, alertText: alertText}};\nvar msg8 = {payload: {relayStatus: relayStatus, relayColor: relayColor, alert: alert}};\nvar msg9 = {payload: timestamp};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9];",
    "outputs": 9,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 200,
    "wires": [
      ["ui_temp_gauge"],
      ["ui_humi_gauge"],
      ["ui_temp_chart"],
      ["ui_humi_chart"],
      ["ui_temp_card"],
      ["ui_humi_card"],
      ["ui_alert_card"],
      ["ui_relay_card"],
      ["ui_last_update"]
    ]
  },
  {
    "id": "ui_temp_gauge",
    "type": "ui_gauge",
    "z": "flow_esp32",
    "name": "Nhiệt độ Gauge",
    "group": "grp_gauges",
    "order": 1,
    "width": 6,
    "height": 5,
    "gtype": "gage",
    "title": "Nhiệt độ (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#2196F3", "#4CAF50", "#FF9800"],
    "seg1": "20",
    "seg2": "30",
    "className": "",
    "x": 640,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui_humi_gauge",
    "type": "ui_gauge",
    "z": "flow_esp32",
    "name": "Độ ẩm Gauge",
    "group": "grp_gauges",
    "order": 2,
    "width": 6,
    "height": 5,
    "gtype": "gage",
    "title": "Độ ẩm (%)",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#FF9800", "#4CAF50", "#F44336"],
    "seg1": "60",
    "seg2": "70",
    "className": "",
    "x": 630,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui_temp_card",
    "type": "ui_template",
    "z": "flow_esp32",
    "group": "grp_cards",
    "name": "Thẻ Nhiệt độ",
    "order": 1,
    "width": 3,
    "height": 3,
    "format": "<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 15px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); text-align: center; height: 100%; display: flex; flex-direction: column; justify-content: center;\"><div style=\"color: rgba(255,255,255,0.95); font-size: 12px; margin-bottom: 8px; font-weight: 500;\"><i class=\"fa fa-thermometer-half\"></i> NHIỆT ĐỘ</div><div style=\"color: white; font-size: 36px; font-weight: 700; line-height: 1; margin: 5px 0;\">{{msg.payload.temp}}<span style=\"font-size: 18px;\">°C</span></div><div style=\"color: white; font-size: 11px; margin-top: 6px; padding: 3px 8px; background: rgba(255,255,255,0.25); border-radius: 12px; display: inline-block;\">{{msg.payload.tempStatus}}</div></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "ui_humi_card",
    "type": "ui_template",
    "z": "flow_esp32",
    "name": "Thẻ Độ ẩm",
    "order": 2,
    "width": 3,
    "height": 3,
    "format": "<div style=\"background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); padding: 15px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); text-align: center; height: 100%; display: flex; flex-direction: column; justify-content: center;\"><div style=\"color: rgba(255,255,255,0.95); font-size: 12px; margin-bottom: 8px; font-weight: 500;\"><i class=\"fa fa-tint\"></i> ĐỘ ẨM</div><div style=\"color: white; font-size: 36px; font-weight: 700; line-height: 1; margin: 5px 0;\">{{msg.payload.humi}}<span style=\"font-size: 18px;\">%</span></div><div style=\"color: white; font-size: 11px; margin-top: 6px; padding: 3px 8px; background: rgba(255,255,255,0.25); border-radius: 12px; display: inline-block;\">{{msg.payload.humiStatus}}</div></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "group": "grp_cards",
    "x": 630,
    "y": 260,
    "wires": [[]]
  },
  {
    "id": "ui_alert_card",
    "type": "ui_template",
    "z": "flow_esp32",
    "group": "grp_cards",
    "name": "Thẻ Cảnh báo",
    "order": 3,
    "width": 3,
    "height": 3,
    "format": "<div style=\"background: {{msg.payload.statusBg}}; padding: 15px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); text-align: center; height: 100%; display: flex; flex-direction: column; justify-content: center; border: 2px solid {{msg.payload.statusColor}};\"><div style=\"color: {{msg.payload.statusColor}}; font-size: 11px; margin-bottom: 6px; font-weight: 600;\"><i class=\"fa fa-exclamation-triangle\"></i> TRẠNG THÁI</div><div style=\"color: {{msg.payload.statusColor}}; font-size: 20px; font-weight: 700; line-height: 1.2; margin: 8px 0;\">{{msg.payload.alertText}}</div><div style=\"color: {{msg.payload.statusColor}}; font-size: 10px; margin-top: 4px; opacity: 0.85; line-height: 1.3;\">{{msg.payload.statusText}}</div></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 640,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "ui_relay_card",
    "type": "ui_template",
    "z": "flow_esp32",
    "group": "grp_cards",
    "name": "Thẻ Relay & Quạt",
    "order": 4,
    "width": 3,
    "height": 3,
    "format": "<div style=\"background: linear-gradient(135deg, #434343 0%, #000000 100%); padding: 15px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); text-align: center; height: 100%; display: flex; flex-direction: column; justify-content: center;\"><div style=\"color: rgba(255,255,255,0.95); font-size: 12px; margin-bottom: 8px; font-weight: 500;\"><i class=\"fa fa-power-off\"></i> QUẠT TẢN NHIỆT</div><div style=\"color: white; font-size: 32px; font-weight: 700; line-height: 1; margin: 5px 0;\">{{msg.payload.relayStatus}}</div><div style=\"color: {{msg.payload.relayColor}}; font-size: 11px; margin-top: 6px; padding: 3px 8px; background: rgba(255,255,255,0.1); border-radius: 12px; display: inline-block; border: 1.5px solid {{msg.payload.relayColor}};\"><i class=\"fa fa-circle\"></i> {{msg.payload.relayStatus == 'ON' ? 'Đang chạy' : 'Chờ lệnh'}}</div></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 650,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "ui_temp_chart",
    "type": "ui_chart",
    "z": "flow_esp32",
    "name": "Biểu đồ Nhiệt độ",
    "group": "grp_charts",
    "order": 1,
    "width": 6,
    "height": 5,
    "label": "Lịch sử Nhiệt độ (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Chưa có dữ liệu",
    "dot": false,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": "12",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#667eea", "#aaa", "#ff0000", "#ffff00", "#00ff00", "#00ffff", "#0000ff", "#ff00ff", "#c0c0c0"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 650,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "ui_humi_chart",
    "type": "ui_chart",
    "z": "flow_esp32",
    "name": "Biểu đồ Độ ẩm",
    "group": "grp_charts",
    "order": 2,
    "width": 6,
    "height": 5,
    "label": "Lịch sử Độ ẩm (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Chưa có dữ liệu",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "12",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#11998e", "#aaa", "#ff0000", "#ffff00", "#00ff00", "#00ffff", "#0000ff", "#ff00ff", "#c0c0c0"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 640,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "ui_last_update",
    "type": "ui_template",
    "z": "flow_esp32",
    "group": "grp_footer",
    "name": "Cập nhật cuối",
    "order": 1,
    "width": 0,
    "height": 0,
    "format": "<div style=\"background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); padding: 10px 15px; border-radius: 10px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 8px;\"><div style=\"display: flex; align-items: center; gap: 8px;\"><div style=\"background: white; padding: 6px; border-radius: 6px; box-shadow: 0 2px 4px rgba(0,0,0,0.08);\"><i class=\"fa fa-clock-o\" style=\"font-size: 16px; color: #667eea;\"></i></div><div><div style=\"font-size: 10px; color: #666; margin-bottom: 1px;\">Cập nhật lần cuối</div><div style=\"font-size: 13px; font-weight: 600; color: #333;\">{{msg.payload}}</div></div></div><div style=\"background: white; padding: 5px 10px; border-radius: 12px; font-size: 11px; color: #4CAF50; font-weight: 600; box-shadow: 0 2px 4px rgba(0,0,0,0.08);\"><i class=\"fa fa-wifi\" style=\"margin-right: 4px;\"></i> MQTT Connected</div></div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 650,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "grp_gauges",
    "type": "ui_group",
    "name": "Đồng hồ đo",
    "tab": "tab_main",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "grp_cards",
    "type": "ui_group",
    "name": "Thông số hiện tại",
    "tab": "tab_main",
    "order": 2,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "grp_charts",
    "type": "ui_group",
    "name": "Biểu đồ theo dõi",
    "tab": "tab_main",
    "order": 3,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "grp_footer",
    "type": "ui_group",
    "name": "Footer",
    "tab": "tab_main",
    "order": 4,
    "disp": false,
    "width": 12,
    "collapse": false
  },
  {
    "id": "tab_main",
    "type": "ui_tab",
    "name": "Giám Sát Độ Ẩm - Bảo Quản Quần Áo",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
